<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="game.block.puzzle.drop.the.number.merge">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
